{% extends "django_rq/base_django_rq.html" %}



{% block extra_breadcrumbs %}
    <li>
        <span class="divider">»</span>
        <a href="{% url 'rq_jobs' queue_index %}">{{ queue.name }}</a>
    </li>
    <li>
        <span class="divider">»</span>
        <a href="{% url 'rq_job_detail' queue_index job.id %}">{{ job.id }}</a>
    </li>
    <li class="active">
        <span class="divider">»</span>
        <span>Delete</span>
    </li>
{% endblock %}

{% block content_title %}<h1>Are you sure?</h1>{% endblock %}

{% block content %}

<div id="content-main">
    <p>
        Are you sure you want to delete <a href="{% url 'rq_job_detail' queue_index job.id %}">{{ job.id }}</a> from <a href="{% url 'rq_jobs' queue_index %}">{{ queue.name }}</a>?
        This action can not be undone.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input class="btn btn-danger" type="submit" value="Yes, I'm sure" />
        </div>
    </form>
</div>

{% endblock %}
